
h1 {font-family: "calibri"}
body {font-family:  "century";
      width: 1000px;
      margin: 0 auto;}
h1 {color: brown;  }
div {border: solid 5px gray;
padding: 20px
}
span {background-color: yellow;}
.important {background-color: pink;font-size 22px}
