
h1 {font-family: "century"}
body {font-family:  "century";
      font-size: 20px;
      border: solid 5px gray;
      padding: 77px}
h1 {color: brown;  }
div {border: solid 5px gray;
padding: 20px
}
